:root {
    font-size: 16px;
}

header {
    background-image: url(../img/Header-desktop-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-container {
    margin: 70px auto;
    padding: 0 23px 0 var(--padding-m);

    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 94px auto;
        padding: 0;
        
    }
}

.header-text {
    margin-bottom: var(--margin-m);
    
}


.header-text h1 {
    font-size: var(--font-size-l);
    font-family: var(--font-main-title);
    font-weight: var(--font-weight-regular);
    color: var(--white-color);
    margin-bottom: var(--margin-m);

    @media screen and (min-width: 1280px) {
        font-size: var(--font-size-2xl);        
    }
}

.header-text p {
    font-family: var(--font-text);
    font-size: var(--font-size-b);
    font-weight: var(--font-weight-regular);
    color: var(--white-color);

    @media screen and (min-width: 1280px) {
        width: 757px;
    }

}

.header-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-b);

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        justify-content: center;
    }
}

.button-download,
.button-desktop {
    padding: var(--padding-b) 0;
    text-align: center;
    width: 381px;
    border-radius: 28px;
    text-decoration: none;

    @media screen and (min-width: 1280px) {
        padding: 11px 0;
    }
}

.button-download {
    background-color: var(--white-color);
    color: var(--gray-text-color);

    @media screen and (min-width: 1280px) {
        width: 205px;
    }
}

.button-desktop {
    background-color: var(--gray-text-color);
    color: var(--white-color);
}